.App {
  text-align: center;
  overflow: hidden;
}

#loader {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  height: 80px;
}

.green {
  color: green;
}

.red {
  color: red;
}

@media screen and (max-width: 768px) {
  #image{
      height:auto
  }
}
